.footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--color-accent);
  color: var(--color-white);
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.footer p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.logo {
  margin-top: var(--spacing-standard);
  margin-left: var(--spacing-standard);
}

.socialIcons {
  display: flex;
  gap: 8px;
  margin-top: var(--spacing-standard);
  margin-right: var(--spacing-standard);
}

.socialIcons a {
  color: var(--color-white);
}
