.header {
  height: 90px;
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  color: var(--color-accent);
  font-size: 40px;
  font-family: "Raleway", cursive;
}

.logo a {
  text-decoration: none;
}

.header .logo a {
  text-decoration: none;
}

.navigation {
  padding-top: var(--spacing-standard);
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.navigation ul li {
  padding-right: var(--spacing-standard);
}

.navigation ul li a {
  text-decoration: none;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header .content {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 15px;
  }

  .navigation ul {
    display: none;
    background-color: var(--color-white);
    height: auto;
    width: 100%;
    position: fixed;
    padding-top: var(--spacing-standard);
    right: 0;
    text-align: center;
    padding-left: 0;
  }

  .navigation ul li {
    padding: 12px 0;
  }

  .navigation ul li a {
    text-decoration: none;
    display: block;
  }

  .navigationOpen {
    margin-top: var(--spacing-standard);
    width: 100%;
    z-index: 150;
  }

  .navigationOpen ul {
    display: flex;
    flex-direction: column;
    z-index: 150;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navigationOpen li {
    width: 100%;
    text-align: center;
  }

  .hamburger {
    right: 15px;
    top: 34px;
    position: fixed;
    background: none;
    border: none;
    color: inherit;
    display: flex;
    z-index: 6;
  }

  .hamburger:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.2s ease;
  }
}
