@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:900");

/*
Colors:
main: #d27aaa
accent: #273582
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  background-color: #f5f5f5;
}

h1,
h2,
h3 {
  color: #273582;
  text-align: center;
  font-family: Raleway, sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  margin: 20px;
}

a {
  color: #273582;
}

a:hover {
  color: #d27aaa;
}

.header {
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
}

.logo {
  color: #273582;
  font-size: 40px;
  font-family: "Raleway", cursive;
}

.navbar {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.navbar a {
  display: block;
  padding: 8px 24px;
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .mobile-menu-button {
      display: block;
  }

  .navbar {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .navbar.menu-open {
      display: flex;
  }

  .navbar li {
      width: 100%;
      text-align: center;
      padding: 10px 0;
  }

  .header .content {
      flex-direction: column;
      align-items: flex-start;
  }
}

.about-me {
  padding: 20px;
  background-color: #d27aaa;
  background-image: linear-gradient(#1a2355be, #d29cbab0);
  color: #f5f5f5;
  text-align: center;
}

.about-me h1,
h2 {
  color: #f5f5f5;
}

.about-me img {
  border-radius: 50%;
}

.project h2 {
  color: #273582;
}

.smaller p {
  font-size: smaller;
}

.values-list {
  background-color: #f5f5f5;
  text-align: center;
}

.values-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.values-list li {
  width: 33.333%;
  padding: 16px;
  margin: 0 16px;
  border: 2px dotted #d3d3d3;
}

.values-list .flexi {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  align-items: center;
  text-align: center;
}

.values-list .flexi li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .values-list .flexi {
    flex-direction: column;
  }

  .values-list .flexi li {
    width: 100%;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #273582;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.footer a {
  color: #ffff00;
}

.flexi {
  display: flex;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.profile-image {
  max-width: 20%;
  margin-left: 24px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.anchor {
  display: block;
  position: relative;
  top: -95px;
  visibility: hidden;
}
