@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

/*
Colors:
main: #d27aaa
accent: #273582
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3 {
  color: #d27aaa;
  text-align: center;
  font-family: Raleway, sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

a {
  color: #273582;
}

a:hover {
  color: #d27aaa;
}

.header {
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
}

.logo {
  color: #d27aaa;
  font-size: 40px;
  font-family: 'Raleway', cursive;
}

.navbar {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.navbar a {
  display: block;
  padding: 8px 24px;
}

.about-me {
  background-color: #d27aaa;
  background-image: linear-gradient(#273582be, #d27aaab0), url(obrazky/podklad.jpg);
  color: #fff;
  text-align: center;
}

.about-me h1 {
  color: #fff;
}

.about-me img {
  border-radius: 50%;
}

.values-list {
  background-color: #f5f5f5;
  text-align: center;
}

.values-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.values-list li {
  width: 33.333%;
  padding: 16px;
  margin: 0 16px;
  border: 2px dotted #d3d3d3;
}

.footer {
  background-color: #273582;
  color: #fff;
  text-align: center;
}

.footer a {
  color: #ffff00;
}

.flexi {
  display: flex;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.contact img {
  max-width: 50%;
  margin-left: 24px;
}

.anchor {
  display: block;
  position: relative;
  top: -95px;
  visibility: hidden;
}